@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100i,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #7a7a7a;
  font-family: 'Josefin Slab', serif;
}

a {
  text-decoration: none;
  color: #3d7bb4;
}

nav {
  text-align: center;
  background-color: #ccc;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  transition: all;
  transition-duration: 300ms;
}

nav ul li a:hover {
  background-color: rgba(1, 1, 1, .05);
}

h2 {
  border-bottom: 1px solid #d8d8d8;
}

.tab {
  margin-right: 5em;
  margin-left: 5em;
}

.red {
  color: red;
}

.terminal {
  position: absolute;
  font-family: monospace;
  width: 535px;
  max-width: 535px;
  max-height: 300px;
  top: 20%;
  right: 2%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .05);
  box-shadow: 0px 0px 6px rgba(1, 1, 1, .2);
  transform: scale(.9);
}

.output {
  padding: 5px 2px 0px 10px;
  height: 250px;
  border-radius: 5px 0px;
  overflow-y: hidden;
}

.input {
  padding: 0px 10px 5px 10px;
  width: calc(100% - 20px);
  border: none;
  border-radius: 0px 0px 5px 5px;
  cursor: text;
  word-break: break-all;
}
.cursor {
  width: 6px;
  display: inline-block;
  background-color: #929292;
}

.terminal-header {
  padding: 3px 5px 1px 5px;
  border-radius: 5px 5px 0 0;
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #c8c8c8 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #c8c8c8 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #c8c8c8 100%);
  background-image: -ms-linear-gradient(top, #dddddd 0%, #c8c8c8 100%);
  background-image: linear-gradient(top, #dddddd 0%, #c8c8c8 100%);

}

.terminal-buttons {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.terminal-btn {
  display: inline-block;
  margin: 0px 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: default;
}

.close-btn {
  background-color: #fc605b;
}

.min-btn {
  background-color: #fdbc40;
}
.min-btn:hover {
  background-image: url('../img/min.png');
  background-size: contain;
}

.max-btn {
  background-color: #33c748;
}

.max-btn:hover {
  background-image: url('../img/max.jpg');
  background-size: contain;
}


.mini-proj {
  padding: 10px;
  margin: 5px 2px 5px 0px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  cursor: pointer;
}
.mini-proj:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.about {
  position: absolute;
  top: 25%;
  left: 3%;
  padding-right: 30px;
  max-width: 450px;
  font-weight: 400;
}


.sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0px;
  text-align: center;
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, .2);
  z-index: 10;
  transform: translateX(-255px);
  transition: all;
  transition-duration: 400ms;
}

.my-img {
  width: 200px;
  border-radius: 50%;
}

#menu-btn {
  position: absolute;
  cursor: pointer;
  left: 3%;
  z-index: 10;
}

.close-img {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  width: 30px;
  float: right;
  margin: 15px;
}

.close-img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .1);
  transition-property: all;
  transition-duration: 300ms;
}

.overlay {
  font-family: 'Noto Serif', serif;
  position: absolute;
  width: 560px;
  left: calc(50% - 280px);
  margin-top: 70px;
  padding: 0px 30px;
  padding-top: 0;
  min-height: 200px;
  border: 1px solid #d8d8d8;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  transform: translateY(-200%);
  transition: all;
  transition-duration: 400ms;
  z-index: 2;
  box-sizing: border-box;
}
.overlay .close-img {
  width: 20px;
  margin-right: 0;
}

.proj-img {
  max-width: 100%;
  float: right;
  clear: both;
  border-radius: 3px;
}
.proj-head {
  margin: 5px 0;
}

.left-arrow {
  width: 30px;
  float: left;
  margin-left: -30px;
  margin-top: 30%;
  cursor: pointer;
}

.right-arrow {
  width: 30px;
  float: right;
  margin-top: 30%;
  margin-right: calc(-100% - 30px);
  cursor: pointer;
}

.left-arrow:active {
  transform: translate(-1px, 3px);
}

.right-arrow:active {
  transform: translate(1px, 3px);
}

.tag {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #d7d7d7;
  padding: 10px;
  margin: 5px;
}

.tag:hover {
  box-shadow: inset 0px 0px 5px #bbbaba;
}

@media screen and (max-width: 1024px) {
  .about {
    max-width: 400px;
  }
  .terminal {
    max-width: 445px;
    right: 0;
    transform: scale(.8);
  }
  #menu-btn {
    left: 1%;
  }
  .about {
    left: 1%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    top: 10%;
    max-width: 90%;
    margin-left: 5%;
    padding-right: 0;
  }
  .terminal {
    width: 440px;
    right: calc(50% - 220px);
    top: 50%;
    transform: scale(1);
  }
  #menu-btn {
    left: 1%;
  }
  .about {
    left: 1%;
  }
  .overlay {
    width: 400px;
    left: calc(50% - 200px);
  }
}

@media screen and (max-width: 460px) {
  .overlay {
    width: 98%;
    left: 1%;
  }
  .about {
    padding-top: 70px;
    position: relative;
  }
  .terminal {
    width: 98%;
    margin-right: 1%;
    position: inherit;
    top: 50%;
    transform: scale(1);
  }
}
